@media print {
    #settings {
        display: none;
    }
}

body {
    font-family: Lato;
}

li {
    line-height: 42px;
}

.problem {
    font-size: 24px;
    padding-left: 22px;
}

.variable {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Petit Formal Script', cursive;
    margin-left: 4px;
}

.exponent {
    vertical-align: super;
    font-size: 16px;
}

.sign {
    padding-left: 8px;
    padding-right: 8px;
}

#settings {
    float: right;
}

#type-selector {
    font-size: 22px;
}

#instructions {
    font-size: 20px;
}
